h1, h2, h3, h4, h5, h6{
  color: #0e3887;
}

h1{
    font-size: 80px;
}

/* For screens smaller than 768px (like tablets and small desktops) */
@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }
}

/* For screens smaller than 576px (like phones) */
@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }
}
